*{
    padding: 0;
    margin: 0;
}

body {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.signup_box{
    width: 300px;
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    border: 1px solid black;
    padding: 20px;
    border-radius: 10px;
    /* gap: 20px; */
}

.signup_box h4{
    margin-top: 8px;
}

.signup{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.userid{
    display: flex;
    flex-direction: column;
    margin-top: 20px;
}

.userid input{
    height: 30px;
    border-radius: 5px;
    padding-left: 10px;
    font-size: 16px;
}

.password{
    display: flex;
    flex-direction: column;
    margin-top: 10px;
}

.password input{
    height: 30px;
    border-radius: 5px;
    padding-left: 10px;
    font-size: 16px;
}

.signup_box button{
    margin-top: 20px;
    width: 80px;
    height: 30px;
}

.terms{
    margin-top: 25px;
    font-size: 12px;
}